<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);">
  <div class="container">
    <h1> Create a Bookmark </h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
        <% simple_form_for [ @list, @bookmark ] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.association :list %>
        <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
